@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.section{
    width: 100%;
    min-height: 100vh;
    background-color: #ffb3c6;
}
.container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}
.content-section{
    float: left;
    width: 55%;

}
.image-section{
    float: right;
    width: 40%;
}
.image-section img{
    width: 100%;
    height: auto;
}
.content-section .title{
    /*text-transform: uppercase;*/
    font-size: 27px;
}
.content-section .content h3{
    margin-top: 20px;
    color: black;
    font-size: 17px;
    line-height: 1.5;
}
.content-section .social{
    margin-top: 40px;
    margin-left: -75px;
}
.content-section .social i{
    color: #640c2f;
    font-size: 30px;
    padding: 0px 10px;
}
.horz{
    margin-left: -67px;
    width: 265px;
    height: 15px;
    border: 0;
    box-shadow: inset 0 10px 10px -10px #b30548;
}
.content-section .social i:hover{
    color: #fd004c;
    

}
.glow{
  margin-left: -67px;
  font-size: 60px;
  color: #5c0b2a;
  text-align: left;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fa54c3;
                 
  }
  to {
    text-shadow: 0 0 30px 
                 #ff87c3;
  }
}

@media screen and (max-width: 768px){
    .container{
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }
    .content-section{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    
    }
    .image-section{
        float: none;
        width: 100%;
    }
    .image-section img{
        width: 100%;
        display: block;
        margin: auto;
    }
    .content-section .title{
       text-align: center;
        font-size: 19px;
    }
    .content-section .content h3{
        margin-top: 20px;
        color: black;
        font-size: 17px;
        line-height: 1.5;
    }
    .content-section .social{
        text-align: center;
    }
   
    
}